*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

#homePage{
	background-color: black;
	width: 100%;
	height: auto;
	overflow-y: hidden;
}

#top_nav_logo{
	width: 80px;
	height: 80px;
	margin: 20px;
	margin-bottom: 0px;
}

#front_logo{
	width: 369px;
	height: 95px;
	margin-top: 150px; 
}


.robo_image{
	width: auto;
	height: auto;
	align-self: center;
	animation-name: robo;
	animation-duration: 8s;
	animation-play-state: ease;
	animation-iteration-count: infinite;
}

@keyframes robo{
	0% {transform: scale(1, 1)}
	50% {transform: scale(1.13, 1.13)}
	100%  {transform: scale(1, 1)}
}


.navbar-trans {
	background: transparent;
 }
  
.background_img{
	width: 100%;
	height:100vh;
	background-color: black;
	background-image: url("../images/front_page.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}


.bg-text {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border-top: 4px solid #f1f1f1;
	border-bottom: 4px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
  }

  .screw-bg{
		width: 100%;
		height:100%;
		background-color: black;
		background-image: url("../images/garage.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-attachment: fixed;
  }

  .layer {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
	height:100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

  .my-nav{
	  color: white;
	  font-size: 20px;
	  float: right;
	  padding: 5px;
	  text-decoration: underline;
	  text-shadow: black;
  }

  .my-nav:hover{
	  color: rgb(101,206,48);
  }

  .my-font{
	font-family: 'Fredoka One', cursive;
	letter-spacing: 1px;
	text-transform: uppercase;
  }

  .youtube_video{
	  padding: 30px;
  }

  .youtube_text{
	  color: white;
	  font-family: 'Courier New', Courier, monospace;
	  text-align: justify;
	  align-self: center;
	  justify-content: center;
  }

  .youtube_text_inner{
	  padding-left: 20px;
	  padding-right: 20px;
  }

  .youtube_text_heading{
	  text-decoration: underline;
	  text-align: center;
  }

  .card{
	background-color: black;
	color: white;
	border-radius: 0rem;
	border: 2px solid white;
  }

  .my-card{
	  margin-left: 50px;
	  margin-top: 40px;
  }

  .card-img-top{
	  max-height: 200px;
  }

  .heading-box{
	  width: auto;
	  height: auto;
	  color: white; 
	  /* background-color:rgba(0,0,0, 0.5); */
  }

  .card-title{
	  text-align: center;
  }

  .card-text{
	  text-align: justify;
  }


  .social-box{
	color: white; 
	background-color:rgba(243, 234, 234, 0.082);
	}

	.form-control{
		color: white;
		background-color: rgba(0,0,0, 0.5);
		border-radius: 0rem;
	}

	.btn-primary{
		background-color: rgba(0,0,0, 0.5);
		border-color:white;
	}
	.btn-primary:hover{
		background-color: rgba(0,0,0);
		border-color: white;
	}


	hr{
		border-top: 3px dashed white;
		margin-left: 50px;
		margin-right: 50px;
	}

	.social-icon-holder{
		display: inline-block;
		gap: 3px;
	}



	/* font awesome */
	.fa {
		padding: 20px;
		font-size: 30px;
		width: 50px;
		text-align: center;
		text-decoration: none;
		margin: 5px 2px;
	  }
	  
	  .fa:hover {
		  opacity: 0.7;
	  }

	  .fa-facebook {
		background: #3B5998;
		color: white;
	  }
	  
	  .fa-twitter {
		background: #55ACEE;
		color: white;
	  }
	  
	  .fa-linkedin {
		background: #007bb5;
		color: white;
	  }
	  
	  .fa-youtube {
		background: #bb0000;
		color: white;
	  }
	  
	  .fa-instagram {
		background: #125688;
		color: white;
	  }

	  .jumbotron{
		  background-color: rgba(0,0,0,0.8);
	  }

	  #side_bar{
		  position:fixed;
		  right:0;
		  top:10%;
		  z-index: 5;
		  display:block;
		  font-size: 30px;
		  text-shadow:-10px 1px 3px black;
			background-color: transparent;
			color: white;
			animation-name: pull;
			animation-duration: 1s;
			animation-play-state: running;
			animation-iteration-count: infinite;
	  }
	  @keyframes pull{
		0%   {right:0px;}
		100%   {right:16px;}

	  }

	  .navigate{
		height: 100%;
		width: auto;
		position: fixed; /* Stay in place */
		z-index: 3; /* Sit on top */
		right: 0; 
		top: 0;
		background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
		overflow-x: hidden; /* Disable horizontal scroll */
		transition: 0.9s; 
		color: white;
	  }

	  .navigate_elements{
		padding: 10px;
		margin: 10px;
		align-self: center;
		/* background-color: black; */
		text-decoration: underline;
		color: white;
	  }

	 
	  .navigate_button{
		position:fixed;
		font-size: 30px;
		text-shadow:-10px 1px 3px black;
		  background-color: black;
		  color: white;
		  animation-name: push;
		  animation-duration: 3s;
		  animation-play-state: running;
		  animation-iteration-count: infinite;
		  border: black;
		  margin-top: 100px;
	  }

	  @keyframes push{
		0%   {right:0px;}
		50%   {right:50px;}
		100%   {right:0px;}
	  }

	  .navigate_hr{
		border-top: 2px solid white;
		border-radius: 1rem;
		width: 150px;
	  }

	  .navigate_bottom{
		  margin-top: 40px;
	  }

	  .tcr_logo_sidebar{
		  width:auto;
		  height:80px;
		  margin:15px;
	  }


	  