*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

/* .navbar-dark .navbar{
	background-color: transparent;
} */

.navbar-trans {
	background: transparent;
 }
  


.background_img{
	width: 100%;
	height:100vh;
	background-color: black;
	background-image: url("front_page.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	opacity: 2;
}

.bg-text {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border-top: 4px solid #f1f1f1;
	border-bottom: 4px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
  }

  .screw-bg{
		width: 100%;
		height:100%;
		background-color: black;
		background-image: url("garage.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-attachment: fixed;
		
  }

  .layer {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
	height:100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

  .my-nav{
	  color: white;
	  font-size: 20px;
	  float: right;
	  padding: 5px;
	  text-decoration: underline;
	  text-shadow: black;
  }

  .my-nav:hover{
	  color: rgb(101,206,48);
  }

  .my-font{
	font-family: 'Fredoka One', cursive;
	letter-spacing: 1px;
	text-transform: uppercase;
  }

  .youtube_video{
	  padding: 30px;
  }

  .youtube_text{
	  color: white;
	  font-family: 'Courier New', Courier, monospace;
	  text-align: justify;
	  align-self: center;
	  justify-content: center;
  }

  .youtube_text_inner{
	  padding-left: 20px;
	  padding-right: 20px;
  }

  .youtube_text_heading{
	  text-decoration: underline;
	  text-align: center;
  }

  .card{
	background-color: black;
	color: white;
	border-radius: 0rem;
	border: 2px solid white;
  }

  .my-card{
	  margin-left: 50px;
	  margin-top: 40px;
  }

  .card-img-top{
	  max-height: 200px;
  }

  .heading-box{
	  width: auto;
	  height: auto;
	  color: white; 
	  /* background-color:rgba(0,0,0, 0.5); */
  }

  .card-title{
	  text-align: center;
  }

  .card-text{
	  text-align: justify;
  }


  .social-box{
	color: white; 
	background-color:rgba(243, 234, 234, 0.082);
	}

	.form-control{
		color: white;
		background-color: rgba(0,0,0, 0.5);
		border-radius: 0rem;
	}

	.btn-primary{
		background-color: rgba(0,0,0, 0.5);
		border-color:white;
	}
	.btn-primary:hover{
		background-color: rgba(0,0,0);
		border-color: white;
	}


	hr{
		border-top: 3px dashed white;
		margin-left: 50px;
		margin-right: 50px;
	}

	.social-icon-holder{
		display: inline-block;
		gap: 3px;
	}



	/* font awesome */
	.fa {
		padding: 20px;
		font-size: 30px;
		width: 50px;
		text-align: center;
		text-decoration: none;
		margin: 5px 2px;
	  }
	  
	  .fa:hover {
		  opacity: 0.7;
	  }

	  .fa-facebook {
		background: #3B5998;
		color: white;
	  }
	  
	  .fa-twitter {
		background: #55ACEE;
		color: white;
	  }
	  
	  .fa-linkedin {
		background: #007bb5;
		color: white;
	  }
	  
	  .fa-youtube {
		background: #bb0000;
		color: white;
	  }
	  
	  .fa-instagram {
		background: #125688;
		color: white;
	  }

	  .jumbotron{
		  background-color: black;
	  }


	  